<!DOCTYPE html>
<html ng-app="caloriesApp" lang='en'>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>CaloriesApp</title>
  <base href="/" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="ApplicationCtrl">

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CaloriesApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="currentUser"><a href="/sign_up">Sign up</a></li>
        <li ng-hide="currentUser"><a href="/login">Login</a></li>
        <li ng-show="currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{currentUser.email}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>

<div class="container">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</alert>
</div>

<div class="container" ng-view>
  <%= yield %>
</div>

<script type="text/javascript">
  var exports = {currentUser: null};
  <% if user_signed_in? %>
    exports.currentUser = <%= raw render partial: 'api/users/user', formats: 'json', locals: {user: current_user} %>;
  <% end %>
</script>

</body>
</html>
